body{
    background-color: rgb(230, 73, 73);
}
.yo{
    font-size: large;
    font-weight: 600;
    width: 670px;
    height: 20px;
    
    padding-left: 45%;
    
    background-color: aliceblue;
}
.grid{
    position: absolute;
    width: 1215px;
    height: 540px;
    border: solid black 1px;
    background-color: black;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(161, 136, 234);
}

.user{
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: rgb(16, 235, 255);
    border-radius: 15px;
}

.ball{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: red;
}